
*.vsidx
*.dll
*.exe
MonogameGame/bin/
MonogameGame/Content/bin/
MonogameGame/Content/obj/
*.BuildWithSkipAnalyzers
*.cache
MonogameGame/obj/Debug/net6.0/C-Of-Thieves.csproj.FileListAbsolute.txt
MonogameGame/obj/Debug/net6.0/C-Of-Thieves.pdb
.vs/C-Of-Thieves/DesignTimeBuild/.dtbcache.v2
*.exe
MonogameGame/obj/Debug/net6.0/apphost.exe
*.v2
.vs/C-Of-Thieves/v17/.suo
.vs/C-Of-Thieves/v17/.suo
MonogameGame/obj/C-Of-Thieves.csproj.nuget.dgspec.json
MonogameGame/obj/C-Of-Thieves.csproj.nuget.g.props
MonogameGame/obj/Debug/net6.0/apphost.exe
MonogameGame/obj/Debug/net6.0/C-Of-Thieves.assets.cache
MonogameGame/obj/Debug/net6.0/C-Of-Thieves.csproj.AssemblyReference.cache
MonogameGame/obj/Debug/net6.0/C-Of-Thieves.GeneratedMSBuildEditorConfig.editorconfig
MonogameGame/obj/project.assets.json
MonogameGame/obj/project.nuget.cache
